body {
    
   margin: 0;
    padding: 0;
    background: #fff;
    
}



@media only screen and (min-width: 768px){
    
    
    nav {
        
        background: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)),url(carcompany.jpg);
        background-size: cover;
        height: 580px;
        width: 100%;
        padding-top: 20px;
        z-index: 1;
        
    }
    
    .menu-bar ul {
        
       margin-left: 710px; 
       margin-top: 30px;
    
        
    }
    
    
    .menu-bar li {
        
        list-style: none;
        display: inline;
        padding-left: 120px;
        
        
        
    }
    
    
    .menu-bar ul li a {
        
        text-decoration: none;
        font-family: sans-serif;
        font-size: 17px;
        color: #000;
        font-weight: bold;
      
    }
    
     .menu-bar ul li a:hover {
    
         color: #fff;
         
         
    }
    
    .logoimg {
        
        margin-top: -120px;
        margin-left: -70px;
        
    }
    
    nav p {
        
        width: 40%;
        margin-left: 70px;
        font-family: sans-serif;
        line-height: 35px;
        font-size: 25px;
      
        
    }
    
    
    .menu-button{
        
        position: relative;
        z-index: 2;
        top: -260px;
        left: 43%;
        padding: 15px;
        width: 220px;
        font-size: 20px;
        font-family: sans-serif;
        background: #fff;
        color: #00a00d;
        border-top: 2px solid #00a00d;
        border-left: 2px solid #00a00d;
        border-right: 2px solid #00a00d;
        border-bottom: none
        
        
        
    }
    
    
    .menu-button2{
        
        position: relative;
        z-index: 2;
        top: -28px;
        left: 43%;
        padding: 15px;
        width: 220px;
        font-size: 20px;
        font-family: sans-serif;
        background: #fff;
        color: #00a00d;
        border-top: 2px solid #00a00d;
        border-left: 2px solid #00a00d;
        border-right: 2px solid #00a00d;
        border-bottom: none
        
        
        
    }
    
    
    
    
    
    
    
    
    
    /* box 1 */
    
    
    .box {
        
    
        position: relative;
        top: 90px;
        left: -100px;
        width: 400px;
        height: 310px;
        border-radius: 2%;
        font-family: sans-serif;
        display: inline-block;
        opacity: 0;
       
    }
    
     .box .icon .fa {
        
        
    
    position: absolute;
    top: 13%;
    left: 45%;
    font-size: 60px;
    color: #fff;  
    z-index: 2;
     
    }
    
    .background-icon {
        
        position: relative;
        top: 28px;
        left: 157px;
        z-index: 1;
        background: #319635;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        
        
    }
    
    
    
    .box p {
        
       position: relative;
       top: 15px;
       text-align: center;
       color: #319635;
       line-height: 25px
        
    }
    
    .box h3 {
        
        position: relative;
        top: 15px;
        text-align: center;
        color: #319635;
        font-size: 30px;
        
        
        
    }
        
        
    /* box 2 */
    
   .background-icon2 {
        
        position: relative;
        top: 28px;
        left: 165px;
        z-index: 1;
        background: #319635;
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
       
       
        .box .icon2 .fa {
            
            
         position: absolute;
         top: 13%;
         left: 44%;
         font-size: 50px;
         color: #fff;  
         z-index: 2;
            
       }
        
        
    
    position: absolute;
    top: 13%;
    left: 45%;
    font-size: 60px;
    color: #fff;  
    z-index: 2;
        
        
    }
    
    /* box 3 */
    
    
     .background-icon3 {
        
        position: relative;
        top: 28px;
        left: 157px;
        z-index: 1;
        background: #319635;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        
        
    }


       .box .icon3 .fa {
        
        
    
    position: absolute;
    top: 13%;
    left: 44%;
    font-size: 55px;
    color: #fff;  
    z-index: 2;
     
    }



/* Services html */

.hr1 , .hr2, .hr3, .hr4  {
    
    position: relative;
    background: #ccc500;
    height: 2px;
    border: none;
    
    
}

.hr1, .hr2 {
    
    left: -433px;
    top: 50px;
    width: 530px;
    
    
}


.hr3, .hr4 {
    
    right: -445px;
    top: -74px;
    width: 500px;
    
    
}


.headline {
    
    position: relative;
    color: #319635;
    font-size: 40px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
    top: -15px;
    left: 12px;
    
    
}

.mainheadline {
    

    margin-top: 20px;
    opacity: 0;
   
}


.service-imgs {
    
    font-family: sans-serif; 

    
}

/*img one */

.parts {
    
    position: relative;
    top: -15px;
    left: 50px;
    width: 300px;
    float: left;
    
}

.img-one h3 {
    
    position: relative;
    left: 100px;
    top: -20px;
    color: #319635;
    font-size: 30px;
    font-weight: 100;
        
    
}

.img-one p {
    
    position: relative;
    top: -20px;
    left: 97px;
    line-height: 25px;
    width: 70%;
    font-size: 18px;
    color: #939393;
    
    
    
}


.img-one hr {
    
    position: relative;
    top: -28px;
    left: -320px;
    width: 300px;
    background: #ccc500;
    height: 2px;
    border: none;
    
}

/* img 2 */

.car-lot {
    
    position: relative;
    float: right;
    right: 50px;
    top: 100px;
    width: 350px;
    
}


.img-two h3 {
    
    position: relative;
    float: right;
    right: 95px;
    top: 60px;
    color: #319635;
    font-size: 30px;
    font-weight: 100;
        
    
}

.img-two hr {
    
    position: relative;
    float: right;
    top: 140px;
    left: 50px;
    width: 300px;
    background: #ccc500;
    height: 2px;
    border: none;
    
}

.img-two p {
    
    position: relative;
    float: right;
    left: 70px;
    top: 140px;
    line-height: 25px;
    width: 60%;
    font-size: 18px;
    color: #939393;
    
}

/* img three */


.car-paint{
    
    
    position: relative;
    top: 280px;
    left: 50px;
    width: 310px;
    float: left;
    
    
}


.img-three h3 {
    
    position: relative;
    left: 90px;
    top: 270px;
    color: #319635;
    font-size: 30px;
    font-weight: 100;
    
}

.img-three hr {
    
    position: relative;
    top: 262px;
    left: -325px;
    width: 300px;
    background: #ccc500;
    height: 2px;
    border: none;
    
}


.img-three p {
    
    position: relative;
    top: 270px;
    left: 90px;
    line-height: 25px;
    width: 70%;
    font-size: 18px;
    color: #939393;
    
}





/* contact html */


.menu-button3 {
    
    
    position: relative;
        z-index: 2;
        top: -28px;
        left: 43%;
        padding: 15px;
        width: 220px;
        font-size: 20px;
        font-family: sans-serif;
        background: #fff;
        color: #00a00d;
        border-top: 2px solid #00a00d;
        border-left: 2px solid #00a00d;
        border-right: 2px solid #00a00d;
        border-bottom: none
        
    
    
}

.get-in-touch h1 {
    
    text-align: center;
    
}

.get-in-touch p {
    margin-left: 370px;
    margin-top: 50px;
    margin-bottom: 70px;
    text-align: center;
    width: 50%;
    
}



input {
    
    border: none;
    border-bottom: 2px solid #000;
    position: relative;
    font-size: 25px;
    outline: 0 none;
}


*:focus {
    outline: 0;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

#name {
    
   left: 400px; 
   width: 300px;
    
}


#email {
    
    left: 390px;
    width: 300px;
    
}

#message {
    
    top: 150px;
    left: 390px;
    width: 700px;
    
}



 .submit-btn {
     position: relative;
     top: 250px;
     right: 149px;
     background-color: #000;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 20px;
      line-height: 24px;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
   }


label {
    
    font-size: 30px;
    position: relative;
    
    
}

.label1 {
    
 left: 95px;
 top: -10px;
}


.label2 {
    
    top: -10px;
    left: 85px;
}

.label3 {
    
    top: 135px;
    right: 315px;
    
}


}





/* phone screen */

@media only screen and (max-width: 500px){
    
    
    .menu{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: #fff;
    cursor: pointer;
    z-index: 1;
    box-sizing: border-box;
    z-index: 2;
     
    
    
    
}

.menu span {
    
    position: absolute;
    width: 30px;
    height: 2px;
    background: #000;
    display: block;
    top: calc(50% - 1px);
    left: calc(50% - 15px);
    transition: 0.2s;
   
    
    
}

.menu span:nth-child(1) {
    
    transform: translateY(-10px);
}

.menu span:nth-child(3) {
    
    transform: translateY(10px);
}

.menu.active span:nth-child(1) {
    
    transform: translateY(0px)rotate(-45deg);
}

.menu.active span:nth-child(3) {
    
    transform: translateY(0px)rotate(45deg);
}

.menu.active span:nth-child(2) {
    
    transform: translateY(-30px);
    opacity: 0;
}

.menu-bar{
    
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 60px;
   background: #fff;
   transition: 0.5s;
   transform: translatex(-100%);
   z-index: 1;
    
}

.menu-bar.active{
    
    transform: translatex(0);
    
}

.menu-bar ul {
    
    display: flex;
    margin: 0;
    padding: 0;
    float: right;

    
}

.menu-bar ul li {
    
    list-style: none;
}

.menu-bar ul li a{
    
    line-height: 60px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #262626;
    text-decoration: none;
    padding: 0 20px;
    display: block;
    border-right: 1px solid rgba(0,0,0,.1);
}

.menu-bar ul li a:hover{
    
    color: #000;
    
    
}

.menu-bar ul li:last-child a{
      
    border-right: none;

    
}

    
    
    .menu-bar{
        
        height: auto;
    
    }
    
    .menu-bar ul{
        
        display: inherit;
        float: none;
        text-align: center;
        width: 100%;
        height: 100vh;
   
    }
    
    
    
    
    
    
}